{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Last login</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Flags</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.last_login }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.is_superuser %}<span class="badge badge-primary">Superuser</span>{% endif %}
                    {% if user.is_staff %}<span class="badge badge-secondary">Staff</span>{% endif %}
                    {% if user.is_active %}<span class="badge badge-success">Active</span>
                    {% else %}<span class="badge badge-danger">Disabled</span>{% endif %}
                </td>
                <td>
                    <a class="btn btn-sm btn-primary mb-1" href="{% url "user_view" user.id %}">view</a>
                    <a class="btn btn-sm btn-primary mb-1" href="{% url "user_edit" user.id %}">edit</a>
                    <a class="btn btn-sm btn-primary mb-1" href="{% url "user_delete" user.id %}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{% url "user_new" %}">New</a>
{% endblock %}